*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    color:white;

}
html,
body{
    height:100%;
    width:100%;
}
#purpule{
    height:100vh;
    width:100%;
    top:0;
    position: fixed;
    background-color: #EDBFFF;
    z-index:100;
    opacity:0;
    display: none;
    transition: opacity  ease 1s;
    
}
.cursor{
    height: 20px;
    width:20px;
    border-radius: 50%;
    position:fixed;
    background-color: #EDBFFF;
    z-index:8;
    transition:background-image ease 0.5s;
    background-position: center;
    background-size: cover;

    mix-blend-mode: difference;   /*color change krega*/

   
}
.main{

    background-color: #0f0D0D;
    cursor:none;

}
.page1{
   min-height:100vh;   /*viewportheight nnkaam se kaam 100 honi hi chaheiye tabhi video pura cover kregi*/
    width:100%;
    position: relative;
    z-index: 9;
padding-top: 12vw;
  
}

#nav{
    height:55px;
    width:100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:0 30px;
    position:fixed;
    mix-blend-mode: difference;   /*color chnage rta rhega */
    z-index: 102;
    border-bottom: 2px solid ;
}
#nav img {
    height:26px;
    
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
 #nav #circle{

    height:20px;
    width:20px;
    border-radius:50% ;
    background-color:#fff;
 }
 #nav h4{
    font-size: 13px;
    font-weight: 500px;
    text-transform: uppercase;
 }
 #nav h4:nth-child(1){               /*h4 m 4 h4 h to agar kisi ek ko lena h to aise chose kre */
    border-bottom: 1.5px solid white;
    

 }
.page1 h1{
    font-size:8vw;
    font-weight: 300;

    margin-left:6vw;

}
.page1 h2{
    font-size:8vw;
   font-weight: 300;
   margin-left: 26vw;




}
.page1 video{
    width:60%;
    margin-top:10vw;
   position:relative;
   left:50%;
   transform:translate(-50%,0);    /*center element so .*/
}

.page2{
    min-height: 80vh;
    width:100%;
    padding:100px 5vw;
    border-bottom: 2px solid #ea8585;
    position: relative;
    z-index: 9;
    
}
.page2 h1{
    font-size:7vw;
    font-weight: 500;
    color:#111;
    

}
.page2-container{
    height:60vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;

}
.page2-left {

    width:38%;
}
.page2-left h2 {
 
    font-size: 3vw;
    font-weight: 200;
    color:#111;
    line-height:4vw;
}
.page2-right {

    width:24%;
   
}
.page2-right h2 {
 
    font-size: 3vw;
    font-weight: 200;
    color:#111;
}
.page2-right p{
    font-size:28px;
    color:black;
}
.page2-right button{
    width:100%;
    border-radius: 50px;
    border:none;
    padding: 4px 0;
    background-color: #EDBFFF;
    color:black;
    margin-top:20px;
}
.page3{
    min-height: 100vh;
    width:100%;
    position:relative;
    padding:100px;
    
    z-index: 9;
    
}
.page3 h1{
    font-size: 6.8vw;
    font-weight: 400;
    color:black;
    margin-left:100px;
    

}
.page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.page3-part1 img{
    height:450px;
    margin-top:160px;
}
.page4{
    min-height:100vh;
    width:100%;

        position: relative;
    z-index: 9;
    padding: 170px 100px ;
}
.elem{
   
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.elem img{
    position: absolute;
    height:200px;
    opacity: 0;
    transition: all ease-out  0.5s;
    transform: translateY(10%)  rotate(2deg);

}
.elem img:nth-child(1){
    left:2%;
   
    
}
.elem img:nth-child(3){
   right:5%;
   height:300px;
}
.elem:hover{
    color:black;
}
.elem:hover h1 {
   transform:translateY(-100%);
   color:#EDBFFF;
}

.text-div{

    height:145px;
    overflow: hidden;
}
.elem h1{
    font-size: 7.5em;
    font-weight: 600;
    transition: all ease-out 0.5s;

}
.elem:hover img{
    opacity:1;
    transform: translateY(0%) rotate(2deg);

}








.page5{
    min-height:100vh;
    width:100%;
position: relative;

 
    z-index: 9;
    padding:140px 100px;

}

.page5 h2{
    font-size:4vw;
    text-transform: uppercase;
    font-weight:400;
    margin-bottom:50px;

}
.box{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 20px ;
    border-top: 2px solid  #dadada;


}
.box:nth-last-child(1){
    border-bottom: 2px solid #dadada;
}




